@inherits System.Web.Mvc.WebViewPage
@using System.Security.Claims

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This is a secret page!!</h1>
        @foreach(var claim in ((ClaimsPrincipal)User).Claims)
        {
            <div>@claim.Type : @claim.Value</div>
        }
        <div>@User.Identity.Name</div>
    </div>
    <div><a href="/Auth/Logout">Log Out</a></div>
</body>
</html>
